In [1]:
# Install PySpark in Colab
!pip install pyspark

from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.getOrCreate()

# Create a sample DataFrame
data = [
    ("Alice", 34),
    ("Bob", 45),
    ("Cathy", 29)
]

df = spark.createDataFrame(data, ["name", "age"])

print("DataFrame content:")
df.show()

# Register the DataFrame as a temporary SQL table
df.createOrReplaceTempView("people")

# Run a SQL query
result = spark.sql("""
    SELECT name, age
    FROM people
    WHERE age > 30
""")

print("SQL query result:")
result.show()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
DataFrame content:
+-----+---+
| name|age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
+-----+---+

SQL query result:
+-----+---+
| name|age|
+-----+---+
|Alice| 34|
|  Bob| 45|
+-----+---+